:root {
    --bg-dark: rgb(4, 18, 54);
    --bg-light: rgba(203, 203, 203, 1);
    --bg-medium: rgba(224, 223, 191, 1);
    --text-heading: rgba(255, 199, 0, 1);
    --text-accent: rgba(0, 0, 0, 0.31);
    --text-accent-bright: rgba(255, 91, 91, 1);
    --line-accent: rgba(16, 0, 204, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* index.html styling */

html {
    font-family: 'Inter', Georgia, serif;
}

body {
    margin: 0;
}

.page {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bg-dark);
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 1fr;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header input {
    width: 90%;
    margin-top: 1.5em;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

::placeholder {
    font-family: inherit;
}

.title {
    margin: 0 0 0 5%;
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-heading);
    text-decoration: none;
}

.yearlyCalendar {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.months {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--bg-medium);
}

.month:hover,
.day:hover {
    background-color: var(--bg-light);
    box-shadow: 0 2px 8px black;
    cursor: pointer;
}

.month {
    border: 1px dashed var(--line-accent);
}

.month a {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 50em) {
    .page {
        grid-template-rows: 0.3fr 0.1fr 2fr;
    }

    header input {
        margin-top: 3em;
        padding: 0.75em;
        width: min(75%, 80em);
    }

    ::placeholder {
        font-size: 1rem;
    }

    .title {
        margin: 0;
        font-size: 7.75rem;
        justify-self: center;
    }
    
    h1.title {
        margin-top: 0.25em;
    }

    .yearlyCalendar {
        display: flex;
        height: min(100%, 30em);
        gap: 2em;
        justify-content: center;
        align-items: center;
    }

    .months {
        width: min(30%, 25em);
        height: 20em;
    }

    .yearlyCalendar a {
        font-size: 2rem;
    }
}

/* month.html styling */

.links {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.prevPage {
    text-decoration: none;
    color: var(--bg-light);
    font-size: 2rem;
    margin: 0 0 0 5%;
    position: relative;
    top: 10px;
}

.prevPage:hover,
a.title:hover {
    color: var(--text-accent-bright);
}

.days {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--bg-medium);
    list-style: none;
    padding: 0;
    height: 90%;
}

.day {
    border: 1px dashed var(--line-accent);
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
}

.day::before {
    margin: 0.35em;
}

.day::after {
    content: "Day";
    align-self: flex-end;
    margin: 0.25em;
    margin-left: auto;
    color: var(--text-accent);
}

.day a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.weekdays {
    height: 0;
    width: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0);
}

@media (min-width: 50em) {
    .links {
        align-items: center;
    }

    .prevPage {
        margin: 0;
    }

    .monthlyCalendar {
        width: 85%;
        height: min(90%, 40em);
        justify-self: center;
    }

    .days {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .day::after {
        content: "";
    }

    .weekdays {
        position: inherit;
        list-style: none;
        display: grid;
        padding: 0 0 0.5em 0;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .weekday {
        color: var(--text-accent-bright);
        font-size: 1rem;
        font-weight: 600;
        justify-self: center;
    }
}

/* day.html styling */

.textEditor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.75em;
}

.textOptions button {
    font-family: inherit;
    font-size: 0.825rem;
    font-weight: 600;
    padding: 0.2em;
    cursor: pointer;
}

.textOptions button:hover {
    background-color: var(--bg-dark);
    border: none;
    color: var(--text-accent-bright);
}

.notepad {
    width: 100%;
    height: 95%;
    padding: 0.5em;
    background-color: var(--bg-medium);
    border: none;
    align-self: flex-end;
    font-family: inherit;
}

@media (min-width: 50em) {
    .textOptions {
        width: 100%;
        display: flex;
        gap: 0.5em;
        justify-content: center;
    }

    .textOptions button {
        font-size: 0.9rem;
        padding: 0.5em;
    }
}