:root {
    --bg-dark: rgb(4, 18, 54);
    --bg-light: rgba(217, 217, 217, 1);
    --bg-medium: rgba(224, 223, 191, 1);
    --bg-opaque: rgba(0, 0, 0, 0.253);
    --text-heading: rgba(255, 199, 0, 1);
    --text-accent: rgba(0, 0, 0, 0.31);
    --text-accent-bright: rgba(255, 91, 91, 1);
    --line-accent: rgba(16, 0, 204, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* index.html styling */

html {
    font-family: 'Inter', Georgia, serif;
}

body {
    margin: 0;
}

.page {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bg-dark);
}

.yearly {
    display: grid;
    grid-template-rows: 3.25em 5em 1fr 3.25em;
}

.monthly {
    display: grid;
    grid-template-rows: 3.25em 6em 1fr 3.25em;
}

.daily {
    display: grid;
    grid-template-rows: 3.25em 8em 1fr 3.25em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header input {
    width: 90%;
    margin-top: 1.5em;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

::placeholder {
    font-family: inherit;
}

.dropdown {
    width: 90%;
    padding: 0;
    max-height: 35%;
    background-color: white;
    position: absolute;
    top: 1.8em;
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: scroll;
}

.dropdown li {
    width: 100%;
    padding: 5px;
    list-style-position: inside;
    font-size: 0.9rem;
}

.dropdown li:hover {
    background-color: var(--bg-light);
}

.dropdown span {
    font-size: 0.8rem;
}

.date-heading {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-heading);
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

.yearlyCalendar {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.months {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--bg-medium);
}

.month:hover,
.day:hover {
    background-color: var(--bg-light);
    box-shadow: 0 2px 8px black;
    cursor: pointer;
}

.month {
    border: 1px dashed var(--line-accent);
}

.month a {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-opaque);
    font-size: 0.9rem;
}

@media (min-width: 750px) {
    .page {
        grid-template-rows: 5em 12.5em 1fr 5em;
    }

    .daily {
        grid-template-rows: 5em 12.5em 1fr 5em;
    }

    header input {
        margin-top: 3em;
        padding: 0.75em;
        width: min(75%, 1400px);
    }

    ::placeholder {
        font-size: 1rem;
    }

    .dropdown {
        width: min(75%, 1400px);
        border-radius: 5px;
        border: none;
        top: 3.3em;
    }

    .date-heading {
        margin: 0;
        font-size: 6rem;
    }
    
    h1.date-heading {
        margin-top: 0.25em;
    }

    .yearlyCalendar {
        display: flex;
        height: min(100%, 30em);
        gap: 2em;
        justify-content: center;
        align-items: center;
    }

    .months {
        width: min(30%, 25em);
        height: 20em;
    }

    .yearlyCalendar a {
        font-size: 2rem;
    }
}

/* month.html styling */

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--bg-light);
    font-size: 1.5rem;
    margin: 0;
    position: relative;
    top: 10px;
}

.link:hover,
a.date-heading:hover {
    color: var(--text-accent-bright);
}

.days {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--bg-medium);
    list-style: none;
    padding: 0;
    height: 90%;
}

.day {
    border: 1px dashed var(--line-accent);
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
}

.day:before {
    content: attr(data-number);
    margin: 0.35em;
}

.day::after {
    content: attr(data-weekday);
    align-self: flex-end;
    margin: 0.25em;
    margin-left: auto;
    color: var(--text-accent);
}

.day a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.weekdays {
    height: 0;
    width: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0);
}

@media (min-width: 750px) {
    .link {
        margin: 0;
        font-size: 2rem;
    }

    .monthlyCalendar {
        width: min(85%, 65em);
        height: min(90%, 40em);
        justify-self: center;
    }

    .days {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .day::after {
        content: "";
    }

    .weekdays {
        position: inherit;
        list-style: none;
        display: grid;
        padding: 0 0 0.5em 0;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .weekday {
        color: var(--text-accent-bright);
        font-size: 1rem;
        font-weight: 600;
        justify-self: center;
    }
}

/* day.html styling */

.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.addNote {
    width: 10em;
    height: 2rem;
    margin-bottom: 0.75em;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-opaque);
    color: white;
    cursor: pointer;
}

.addNote:hover {
    color: var(--text-accent-bright);
    border: 1px solid var(--bg-light);
}

.notes {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 10em;
    gap: 0.5em;
    overflow: scroll;
}

.note {
    background-color: var(--bg-light);
    border-radius: 5px;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 0.2fr 1fr;
    overflow: hidden;
}

.note:hover {
    background-color: var(--bg-medium);
    border: 1px dashed var(--line-accent);
    cursor: pointer;
}

.note h3 {
    margin: 0;
    padding: 0;
    grid-row: 1;
    grid-column: 1;
}

.note img {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

.note img:hover {
    border: 1px solid var(--text-accent-bright);
}

.note p {
    margin: 0;
    grid-row: 2;
    grid-column: 1 / 3;
}

.active {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    background-color: var(--bg-medium);
    border: 1px dashed var(--line-accent);
    grid-template-columns: 1fr 0.3fr 0.1fr;
    overflow: scroll;
}

.active button {
    width: fit-content;
    background-color: var(--bg-medium);
    border: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.active button:hover {
    border: 1px solid var(--text-accent-bright);
}

.active p {
    grid-column: 1 / -1;
}

@media (min-width: 750px) {
    .addNote {
        width: 15em;
        margin-top: 0.75em;
    }

    .notes {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .active {
        grid-column: 1 / 3;
    }
}
